APP_PORT=3000
APP_GLOBAL_PREFIX=api

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=trade_ops_user
DB_PASSWORD=trade_ops_password
DB_NAME=trade_operations_suite
DB_SYNCHRONIZE=false
DB_LOGGING=false

JWT_SECRET=change-me
JWT_EXPIRES_IN=1d
